-- Enable PostGIS extension if not already enabled
create extension if not exists postgis;


-- Create order_locations table for heatmap data
create table if not exists public.order_locations (
  id uuid default gen_random_uuid() primary key,
  order_id uuid references public.orders(id) on delete cascade,
  user_id uuid references auth.users(id) on delete set null,
  merchant_id uuid references public.merchants(id) on delete cascade,
  latitude numeric(10, 8) not null,
  longitude numeric(11, 8) not null,
  order_value numeric(10, 2) not null default 0,
  created_at timestamp with time zone default timezone('utc'::text, now()) not null,
  updated_at timestamp with time zone default timezone('utc'::text, now()) not null
);


-- Create indexes for better query performance
create index if not exists idx_order_locations_geo on public.order_locations using gist (
  st_makepoint(longitude, latitude)
);
create index if not exists idx_order_locations_created_at on public.order_locations(created_at);


-- Create promotions table for geofence promotions
create table if not exists public.promotions (
  id uuid default gen_random_uuid() primary key,
  merchant_id uuid references public.merchants(id) on delete cascade,
  title text not null,
  description text,
  discount_type text not null check (discount_type in ('percentage', 'fixed', 'free_shipping')),
  discount_value numeric(10, 2) not null,
  min_order_value numeric(10, 2) default 0,
  max_discount numeric(10, 2),
  location_lat numeric(10, 8),
  location_lng numeric(11, 8),
  radius_km numeric(10, 2) default 5,
  start_date timestamp with time zone not null,
  end_date timestamp with time zone not null,
  is_active boolean default true,
  created_at timestamp with time zone default timezone('utc'::text, now()) not null,
  updated_at timestamp with time zone default timezone('utc'::text, now()) not null,
  constraint valid_dates check (end_date > start_date)
);


-- Create delivery_zones table
create table if not exists public.delivery_zones (
  id uuid default gen_random_uuid() primary key,
  merchant_id uuid references public.merchants(id) on delete cascade,
  name text not null,
  description text,
  coordinates jsonb not null, -- Array of [lng, lat] points forming a polygon
  is_active boolean default true,
  delivery_fee numeric(10, 2) default 0,
  min_order_value numeric(10, 2) default 0,
  estimated_delivery_time text,
  created_at timestamp with time zone default timezone('utc'::text, now()) not null,
  updated_at timestamp with time zone default timezone('utc'::text, now()) not null
);


-- Create function to check if a point is within a delivery zone
create or replace function public.is_within_delivery_zone(
  p_lat numeric,
  p_lng numeric,
  p_merchant_id uuid default null
) returns boolean as $$
declare
  v_geom geometry;
  v_point geometry;
  v_count integer;
begin
  -- Create a point from the input coordinates
  v_point := st_setsrid(st_makepoint(p_lng, p_lat), 4326);
  
  if p_merchant_id is not null then
    -- Check if point is within any of the merchant's delivery zones
    select count(*) into v_count
    from public.delivery_zones
    where merchant_id = p_merchant_id
      and is_active = true
      and st_contains(
        st_setsrid(st_geomfromgeojson(
          json_build_object(
            'type', 'Polygon',
            'coordinates', json_build_array(coordinates)
          )::text
        )::geometry, 4326),
        v_point
      );
  else
    -- Check if point is within any delivery zone
    select count(*) into v_count
    from public.delivery_zones
    where is_active = true
      and st_contains(
        st_setsrid(st_geomfromgeojson(
          json_build_object(
            'type', 'Polygon',
            'coordinates', json_build_array(coordinates)
          )::text
        )::geometry, 4326),
        v_point
      );
  end if;
  
  return v_count > 0;
end;
$$ language plpgsql security definer;


-- Create function to get promotions based on location
create or replace function public.get_location_promotions(
  p_lat numeric,
  p_lng numeric,
  p_user_id uuid default null
) returns table (
  id uuid,
  title text,
  description text,
  discount_type text,
  discount_value numeric,
  min_order_value numeric,
  max_discount numeric,
  distance_km numeric
) as $$
declare
  v_point geometry;
begin
  -- Create a point from the input coordinates
  v_point := st_setsrid(st_makepoint(p_lng, p_lat), 4326);
  
  return query
  with user_eligible_promotions as (
    select 
      p.*,
      st_distance(
        st_setsrid(st_makepoint(p.location_lng, p.location_lat), 4326)::geography,
        v_point::geography
      ) / 1000 as distance_km
    from public.promotions p
    where p.is_active = true
      and p.start_date <= now()
      and p.end_date >= now()
      and (p.location_lat is not null and p.location_lng is not null)
      and (p_merchant_id is null or p.merchant_id = p_merchant_id)
  )
  select 
    p.id,
    p.title,
    p.description,
    p.discount_type,
    p.discount_value,
    p.min_order_value,
    p.max_discount,
    p.distance_km
  from user_eligible_promotions p
  where p.distance_km <= coalesce(p.radius_km, 5)  -- Default 5km radius
  order by p.distance_km;
end;
$$ language plpgsql security definer;


-- Create function for heatmap data
create or replace function public.get_clustered_heatmap(
  min_lat numeric,
  min_lng numeric,
  max_lat numeric,
  max_lng numeric,
  grid_size numeric default 0.01,
  days_back integer default 30
) returns table (
  grid_id text,
  center_lat numeric,
  center_lng numeric,
  order_count bigint,
  total_value numeric,
  intensity numeric
) as $$
begin
  return query
  with bounds as (
    select 
      st_setsrid(st_makepoint(min_lng, min_lat), 4326) as sw,
      st_setsrid(st_makepoint(max_lng, max_lat), 4326) as ne
  ),
  grid as (
    select
      -- Create a grid cell ID based on the grid coordinates
      format(
        '%.6f,%.6f',
        floor(st_y(geom) / grid_size) * grid_size + grid_size/2,
        floor(st_x(geom) / grid_size) * grid_size + grid_size/2
      ) as grid_id,
      st_x(st_centroid(st_setsrid(
        st_makeenvelope(
          floor(st_x(geom) / grid_size) * grid_size,
          floor(st_y(geom) / grid_size) * grid_size,
          (floor(st_x(geom) / grid_size) + 1) * grid_size,
          (floor(st_y(geom) / grid_size) + 1) * grid_size,
          4326
        ),
        4326
      ))) as center_lng,
      st_y(st_centroid(st_setsrid(
        st_makeenvelope(
          floor(st_x(geom) / grid_size) * grid_size,
          floor(st_y(geom) / grid_size) * grid_size,
          (floor(st_x(geom) / grid_size) + 1) * grid_size,
          (floor(st_y(geom) / grid_size) + 1) * grid_size,
          4326
        ),
        4326
      ))) as center_lat
    from (
      select st_setsrid(st_makepoint(longitude, latitude), 4326) as geom
      from public.order_locations
      where created_at >= (now() - (days_back || ' days')::interval)
        and latitude between min_lat and max_lat
        and longitude between min_lng and max_lng
    ) points
    group by floor(st_x(geom) / grid_size), floor(st_y(geom) / grid_size)
  )
  select
    g.grid_id,
    g.center_lat,
    g.center_lng,
    count(o.id) as order_count,
    coalesce(sum(o.order_value), 0) as total_value,
    -- Normalize intensity between 0 and 1 based on order count
    least(1.0, count(o.id)::numeric / 10.0) as intensity
  from grid g
  left join public.order_locations o on
    st_contains(
      st_setsrid(
        st_makeenvelope(
          floor(o.longitude / grid_size) * grid_size,
          floor(o.latitude / grid_size) * grid_size,
          (floor(o.longitude / grid_size) + 1) * grid_size,
          (floor(o.latitude / grid_size) + 1) * grid_size,
          4326
        ),
        4326
      ),
      st_setsrid(st_makepoint(o.longitude, o.latitude), 4326)
    )
    and o.created_at >= (now() - (days_back || ' days')::interval)
  group by g.grid_id, g.center_lat, g.center_lng
  order by order_count desc;
end;
$$ language plpgsql security definer;


-- Set up RLS policies
alter table public.order_locations enable row level security;
alter table public.promotions enable row level security;
alter table public.delivery_zones enable row level security;


-- Create policies for order_locations
create policy "Order locations are viewable by owner" on public.order_locations
  for select using (auth.uid() = user_id or auth.role() = 'service_role');
  
create policy "Merchants can view their order locations" on public.order_locations
  for select using (
    exists (
      select 1 from public.merchants m
      where m.id = merchant_id and m.user_id = auth.uid()
    )
    or auth.role() = 'service_role'
  );


-- Create policies for promotions
create policy "Promotions are viewable by all" on public.promotions
  for select using (true);


create policy "Merchants can manage their promotions" on public.promotions
  for all using (merchant_id in (
    select id from public.merchants where user_id = auth.uid()
  ) or auth.role() = 'service_role');


-- Create policies for delivery_zones
create policy "Delivery zones are viewable by all" on public.delivery_zones
  for select using (true);


create policy "Merchants can manage their delivery zones" on public.delivery_zones
  for all using (merchant_id in (
    select id from public.merchants where user_id = auth.uid()
  ) or auth.role() = 'service_role');"